@tailwind base;
@layer base {
  body {
    @apply bg-slate-800 font-Roboto;
  }
}
@tailwind components;
@layer components {
  .header-bar {
    @apply fixed top-0 isolate z-20 left-0 w-full flex justify-between items-center py-2  lg:my-4 bg-slate-800 text-white;
  }
  .navbar {
    @apply lg:relative flex lg:items-center lg:justify-around lg:w-2/5 lg:text-sm uppercase font-semibold absolute right-0 top-0 w-9/12 border lg:border-0 lg:h-14 h-screen bg-slate-700 lg:bg-slate-700 flex-col lg:flex-row justify-start items-start pt-14 lg:pt-0 px-6 lg:px-0 translate-x-full lg:translate-x-0 opacity-0 lg:opacity-100 pointer-events-none lg:pointer-events-auto gap-1 text-lg transition-all duration-300 pr-2 rounded;
  }
  .active-link {
    @apply text-emerald-600;
  }
  .navbar-mobile-show {
    @apply opacity-100 pointer-events-auto translate-x-0;
  }
  .navbar-link {
    @apply px-3 py-2 rounded-3xl hover:text-emerald-500 transition-colors;
  }
  .link-active {
    @apply text-emerald-400 font-extrabold;
  }
  .toggler-navbar {
    @apply z-10 flex items-center justify-start rounded bg-slate-900 px-3 py-3 m-1 mr-3 lg:hidden;
  }
  .toggler-navbar-active {
    @apply absolute top-0 right-0  py-4 px-9 mb-1 rounded-none rounded-tl rounded-tr m-0 w-3/4 border border-slate-500;
  }
  .component-wrapper {
    @apply relative z-20 lg:max-h-screen overflow-hidden container mx-auto pt-20 lg:pt-24 flex items-start justify-between flex-col lg:flex-row gap-2;
  }
  .side-pannel {
    @apply w-[95%] mx-auto lg:mx-0 lg:w-80 h-[86vh] lg:h-[82vh] flex flex-col justify-between items-center bg-slate-900 rounded overflow-hidden border border-slate-600 shadow divide-y divide-slate-500 z-10;
  }
  .hide-section {
    @apply translate-x-10 opacity-0 pointer-events-none ease-out;
  }
  .home-section {
    @apply w-full lg:w-3/4 h-[90vh] lg:max-h-[82vh] overflow-auto flex flex-col items-start justify-start gap-4 px-4 py-2 bg-no-repeat bg-cover transition-all duration-300 rounded border border-slate-200;
  }
  .overlay-layer {
    @apply relative z-10 after:absolute after:content-[""] after:w-full after:min-h-full after:h-full after:inset-0 after:z-[0] after:bg-slate-800 after:bg-opacity-70;
  }
  .home-section::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .hero {
    @apply relative z-20 isolate w-full min-h-[20rem] flex flex-col justify-center items-start bg-gray-700 rounded shadow-lg mt-2;
  }
  .hero-heading-wrapper {
    @apply lg:w-3/4 h-fit text-white shadow rounded overflow-hidden flex flex-col justify-center items-center lg:items-start px-5 lg:px-10 py-5 z-10;
  }
  .btn-outline {
    @apply flex items-center justify-center gap-2 py-1.5 px-3 text-sky-400 text-sm font-bold rounded uppercase border-2 border-sky-500 hover:text-sky-200 hover:shadow-md hover:shadow-sky-900 transition-colors duration-300 disabled:bg-zinc-400 disabled:border-slate-500;
  }
  .btn {
    @apply flex items-center justify-center gap-2 py-2 px-3 bg-sky-500 border border-sky-500 rounded hover:bg-sky-700 text-sm font-semibold uppercase transition-colors duration-300 disabled:bg-zinc-400 disabled:border-slate-500;
  }
  .portfolio-section {
    @apply relative z-10 flex flex-col justify-start items-start max-h-[90vh] lg:max-h-[82vh] h-[90vh] lg:h-[82vh] overflow-auto w-11/12 mx-auto lg:w-3/4 lg:px-2 transition-all duration-500 rounded border border-slate-700;
  }
  .projects-wrapper {
    @apply min-w-full max-h-[90vh] lg:max-h-[82vh] flex flex-col overflow-y-auto mb-4;
  }
  .projects-wrapper::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .project-tile {
    @apply relative grid h-64 overflow-hidden;
  }
  .poject-details-preview {
    @apply absolute z-30 top-0 left-0 w-full h-screen bg-slate-700 bg-opacity-70;
  }
  .tile-details {
    @apply absolute bottom-0 left-0 w-full px-2 py-4 flex flex-col gap-2 items-start bg-slate-600 transition-all duration-500 translate-y-full opacity-0 border-t-4 border-sky-500;
  }
  .project-tile-show {
    @apply translate-y-0 opacity-100;
  }
  .portfolio-section::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .contact-section {
    @apply z-10 flex flex-col justify-start items-start gap-3 max-h-[90vh] lg:max-h-[82vh] overflow-auto w-11/12 mx-auto lg:w-3/4 lg:px-2 transition-all duration-500 rounded border border-slate-700;
  }
  .contact-section::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .contact-boxs {
    @apply flex flex-col gap-4 w-full;
  }
  .send-message {
    @apply flex flex-col gap-3 mt-4  w-full;
  }
  .input-wrapper {
    @apply flex w-full;
  }
  .news-section {
    @apply z-10 flex flex-col justify-start items-start max-h-[90vh] lg:max-h-[82vh] overflow-auto w-11/12 mx-auto lg:w-3/4 lg:px-2 transition-all duration-500 rounded border border-slate-700;
  }
  .news-section ::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .feeds-list {
    @apply relative w-full h-max flex flex-col justify-center items-end lg:items-center gap-6 after:absolute after:left-0 after:-top-3 after:w-[2px] after:h-full after:bg-slate-100 my-2;
  }
  .feed-box {
    @apply relative flex items-start flex-col lg:flex-row justify-start w-full lg:min-h-max lg:h-[170px];
  }
  .indicator {
    @apply relative z-10 grid place-items-center border-t border-r lg:border-0 lg:border-b w-2/3 lg:w-1/5 lg:h-1/2 text-sm py-2 px-4 text-white after:absolute after:top-0 lg:after:top-auto lg:after:bottom-0 after:-translate-y-1/2 lg:after:translate-y-1/2 after:-translate-x-1/4 after:-left-1 after:bg-emerald-600 after:w-4 after:h-4 after:rounded-full;
  }
  .feed-wrapper {
    @apply flex flex-col lg:flex-wrap w-4/5 self-end h-full bg-gray-600 border lg:border-r-0 border-slate-500 shadow-lg hover:shadow-2xl transition-transform duration-500 hover:-translate-y-2;
  }
  .feed-content {
    @apply flex flex-col items-start justify-start w-full lg:w-3/4 min-h-full divide-y divide-slate-400 overflow-hidden;
  }
  .feed-image {
    @apply grid place-items-center w-full lg:w-1/4 min-h-full overflow-hidden lg:border-l border-slate-500;
  }
  .discripe {
    @apply px-4 py-1.5 w-full h-4/5 flex justify-start items-center text-white;
  }
  .skills {
    @apply w-full flex flex-col z-10;
  }
  .show-alert {
    @apply !-translate-x-1/2 lg:!translate-x-0 !opacity-100 pointer-events-auto select-all;
  }
}
@tailwind utilities;
