@tailwind base;
@layer base {
  body {
    @apply bg-slate-800;
  }
}
@tailwind components;
@layer components {
  .header-bar {
    @apply fixed top-0 z-20 left-0 w-full flex justify-between items-center py-2 lg:my-4 bg-slate-800 text-white;
  }
  .navbar {
    @apply lg:relative flex lg:items-center lg:justify-around lg:w-2/5 lg:text-sm uppercase font-semibold absolute right-0 top-0 w-9/12 border lg:border-0 lg:h-14 h-screen bg-slate-600 lg:bg-slate-800 flex-col lg:flex-row justify-start items-start pt-14 lg:pt-0 px-6 lg:px-0 translate-x-full lg:translate-x-0 opacity-0 lg:opacity-100 pointer-events-none lg:pointer-events-auto gap-1 text-lg transition-all duration-300;
  }
  .active-link {
    @apply text-cyan-600;
  }
  .navbar-mobile-show {
    @apply opacity-100 pointer-events-none translate-x-0;
  }
  .toggler-navbar {
    @apply z-10 flex items-center justify-start  bg-slate-900 px-3 py-3 lg:hidden;
  }
  .toggler-navbar-active {
    @apply absolute top-0 right-0  py-4 px-9 mb-1 rounded-tl rounded-tr w-3/4 border border-slate-500;
  }
  .component-wrapper {
    @apply relative lg:max-h-screen overflow-hidden container mx-auto pt-24 flex items-start justify-between flex-col lg:flex-row gap-2;
  }
  .side-pannel {
    @apply w-11/12 mx-auto lg:mx-0 lg:w-80 h-[82vh] flex flex-col justify-between items-center bg-slate-900 rounded overflow-hidden shadow-md divide-y divide-slate-500 z-10;
  }
  .home-section {
    @apply w-full lg:w-3/4 max-h-[82vh] overflow-auto flex flex-col items-start justify-start gap-4 px-4 py-2 bg-no-repeat bg-cover;
  }
  .overlay {
    @apply relative after:absolute after:inset-0 after:bg-slate-800 after:bg-opacity-80 after:w-full after:min-h-full;
  }
  .home-section::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .hero {
    @apply relative z-20 isolate w-full h-[44rem] flex flex-col justify-center items-start bg-gray-700 rounded shadow-lg;
  }
  .hero-heading-wrapper {
    @apply lg:w-3/4 h-fit text-white flex flex-col justify-center items-start px-10 py-5 z-10;
  }
  .btn-outline {
    @apply flex items-center justify-center gap-2 py-1.5 px-3 text-violet-400 text-sm font-bold rounded uppercase border-2 border-violet-500  hover:text-violet-900 transition-colors duration-300 disabled:bg-zinc-400 disabled:border-slate-500;
  }
  .btn {
    @apply flex items-center justify-center gap-2 py-2 px-3 bg-violet-500 border border-violet-500 rounded hover:bg-violet-700 text-sm font-semibold uppercase transition-colors duration-300 disabled:bg-zinc-400 disabled:border-slate-500;
  }
  .portfolio-section {
    @apply flex flex-col justify-start items-start max-h-[82vh] overflow-auto w-11/12 mx-auto lg:w-3/4 lg:px-2;
  }
  .project-tile {
    @apply relative flex flex-col shadow-md rounded overflow-hidden;
  }
  .portfolio-section::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .contact-section {
    @apply z-10 flex flex-col justify-start items-start max-h-[82vh] overflow-auto w-11/12 mx-auto lg:w-3/4 lg:px-2;
  }
  .contact-section::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .contact-boxs {
    @apply flex flex-col gap-4;
  }
  .send-message {
    @apply flex flex-col gap-3 mt-4  w-full;
  }
  .input-wrapper {
    @apply flex w-full;
  }
  .news-section {
    @apply z-10 flex flex-col justify-start items-start max-h-[82vh] overflow-auto w-11/12 mx-auto lg:w-3/4 lg:px-2;
  }
  .news-section ::-webkit-scrollbar {
    appearance: none;
    --webkit-appearance: none;
    width: 0px;
  }
  .feeds-list {
    @apply relative w-full flex flex-col justify-center items-end lg:items-center gap-3 mt-6 ml-3 after:absolute after:left-0 after:-top-3 after:w-[2px] after:h-full after:bg-slate-100;
  }
  .feed-box {
    @apply relative flex items-start flex-col lg:flex-row justify-start w-5/6 lg:w-full lg:min-h-max lg:h-[170px];
  }
  .indicator {
    @apply relative z-10 grid place-items-center border-b w-full lg:w-1/5 h-1/2 text-sm py-2 px-4 text-white after:absolute after:bottom-0 after:translate-y-1/2 after:-translate-x-1/4 after:-left-1 after:bg-cyan-600 after:w-5 after:h-5 after:rounded-full;
  }
  .feed-wrapper {
    @apply flex flex-col lg:flex-wrap w-full h-full bg-gray-600 border lg:border-r-0 border-slate-500 shadow-lg;
  }
  .feed-content {
    @apply flex flex-col items-start justify-start w-full lg:w-3/4 min-h-full divide-y divide-slate-400 overflow-hidden;
  }
  .feed-image {
    @apply grid place-items-center w-full lg:w-1/4 min-h-full overflow-hidden lg:border-l border-slate-500;
  }
  .discripe {
    @apply px-4 py-1.5 w-full h-4/5 flex justify-start items-center text-white;
  }
}
@tailwind utilities;
